<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ems| 404</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background: linear-gradient(to right, #fbc2eb, #a6c1ee);
            color: #333;
            text-align: center;
            
            /* padding: 50px; */
        }

        h1 {
            color: #d9534f;
        }

        p {
            font-size: 18px;
            margin-top: 20px;
        }

        a {
            color: #5bc0de;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }
    </style>
   </head>
   <body>
    <h1>404 Not Found</h1>
    <p>The page you are looking for might be under construction or does not exist.</p>
    <p>Go back <a href="/">home</a> to your family.</p>
</body>
</html>
